---
layout: blog_list
title: Blog
permalink: /blog/
description: List all blog post from this site.
---

<div class="container mtb">
    <div class="row">

        <div class="col-lg-12 text-center alert-info">
            <h2>
                <i class="fa fa-exclamation-triangle fa-5x" aria-hidden="true"></i>
                <br><br>
                Blog section is under maintenance, check my original blog at <a href="https://adifahmi379.blogspot.com" target="_blank">here</a>
            </h2>
        </div>
        <br><br>

        <! -- BLOG POSTS LIST -->
        <div class="col-lg-8">

            {% for post in site.categories['blog'] %}
                <! -- Blog Post -->
                <a href="{{ post.url | prepend: site.baseurl }}">
                    <img class="img-responsive" src="{{ "/assets/img/blog/" | prepend: site.baseurl }}{{ post.img }}">
                </a>    
                <a href="{{ post.url | prepend: site.baseurl }}"><h3 class="ctitle">{{ post.title }}</h3></a>
                <p><csmall>{{ post.date | date: "%b %-d, %Y" }}. | By: {{ post.author }}</csmall></p>
                {{ post.excerpt }}
                <p><a href="{{ post.url | prepend: site.baseurl }}">Read More...</a></p>
                <div class="hline"></div>

                <div class="spacing"></div>
            {% endfor %}

        </div><! --/col-lg-8 -->

        {% include sidebar.html %}

    </div><! --/row -->
</div><! --/container -->
