---
layout: index
title: Home
permalink: /
---

<div id="service">
    <div class="container">
        <div class="row centered">
            <div class="col-md-4">
                <i class="fa fa-code"></i>
                <h4>Software Engineer</h4>
                <p>Currently work as full-time software engineer at software company in South Jakarta.</p>
                <!-- <p><br/><a href="#" class="btn btn-theme">More Info</a></p> -->
            </div>
            <div class="col-md-4">
                <i class="fa fa-html5"></i>
                <h4>Web and Mobile Enthusiast</h4>
                <p>I really like making a website and still learning to build beautiful mobile apps.</p>
                <!-- <p><br/><a href="#" class="btn btn-theme">More Info</a></p> -->
            </div>
            <div class="col-md-4">
                <i class="fa fa-headphones"></i>
                <h4>Music Addict</h4>
                <p><del>Most of time</del> In my spare time I enjoy listening to music (movie as well).</p>
                <!-- <p><br/><a href="#" class="btn btn-theme">More Info</a></p> -->
            </div>		 				
        </div>
    </div><! --/container -->
</div><! --/service -->

{% include portfolio.html title="LATEST WORKS" limit=10 %}

<div class="container mtb">
    <div class="row">
        <div class="col-lg-5 col-lg-offset-2">
            <h4>More About Me.</h4>
            <p>{{ site.about_author }}</p>
            <p><br/><a href="{{ "/about/" | prepend: site.baseurl }}" class="btn btn-theme">More Info</a></p>
        </div>

        <!-- <div class="col-lg-3">
            <h4>Frequently Asked</h4>
            <div class="hline"></div>
            {% for post in site.categories['question'] %} 
                <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></p>
            {% endfor %}
        </div> -->

        <div class="col-lg-4">
            <h4>Latest Blog Posts</h4>
            <div class="hline"></div>
            {% for post in site.categories['blog'] limit:5 %} 
                <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}.</a></p>
            {% endfor %} 
        </div>

    </div><! --/row -->
</div><! --/container -->
