---
layout: default
title: Search
permalink: /search
description: Search blog post.
---

{% include wrap.html %}

<style>
.small-em {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #b3b3b3
}
</style>

<div class="container mtb">
  <div class="row">
    <div class="col-lg-2">
    </div>

    <div class="col-lg-8">
      {% include search.html %}

      <ul id="search-results" style="padding-top: 20px;"></ul>
    </div>
  </div>

</div>

<script>
  window.store = {
    {% for category in site.categories %}{% unless category.first == "blog" or category.first == "portfolio" %}
     {% for post in site.categories[category.first] %}
      "{{ post.url | slugify }}": {
        "title": "{{ post.title | xml_escape }}",
        "author": "{{ post.author | xml_escape }}",
        "category": "{{ post.categories | xml_escape }}",
        "content": {{ post.content | strip_html | strip_newlines | jsonify }},
        "url": "{{ post.url | xml_escape }}",
        "img": "/assets/img/{{ post.layout }}/{{ post.img }}",
        "date": "{{ post.date | date_to_string }}"
      }
      {% endfor %}
      {% endunless %}{% endfor %}
  };
</script>
<script src="{{ "/assets/js/lunr.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/search.js" | prepend: site.baseurl }}"></script>
