<div>
  <h6>SHARE:</h6>
  <p class="share">
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" title="Share on Facebook" rel="nofollow" target="_blank"><i class="fa fa-facebook"></i></a>
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}" title="Share on Twitter" rel="nofollow" target="_blank"><i class="fa fa-twitter"></i></a>
    <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" title="Share on Google Plus" rel="nofollow" target="_blank"><i class="fa fa-google-plus"></i></a>
    <a href="https://www.reddit.com/submit?url={{ site.url }}{{ page.url }}" title="Share on Reddit" rel="nofollow" target="_blank"><i class="fa fa-reddit-alien"></i></a>                 
  </p>
</div>
