<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>
    	<!-- trigger preloader -->
    	<div class="se-pre-con"></div>
          <!-- scroll to top button -->
          <div class="scroll-top visible-xs visible-sm">
              <a class="btn btn-theme" href="#top" id="scroll-to-top">
                  <i class="fa fa-chevron-up"></i>
              </a>
        	</div>
    	
        {% include nav.html %}

            {{ content }}

        {% include footer.html %}
        {% include js.html %}
    </body>
</html>
